<header>
    <nav class="navbar">
        <div class="navbar-links"
            style="margin-left:  123px !important;margin: top 10px !important;text-decoration: none;">
            <a class="nav-link" [routerLink]="['/home']">Home</a>
        </div>
        <div class="navbar-user" style="margin-right:  123px !important;" [routerLink]="['/login']">
            <a class="user-name" [routerLink]="['/login']">Logout</a>
        </div>
    </nav>
</header>

<main class="">
    <app-employee-list></app-employee-list>
</main>